<a href="https://colab.research.google.com/github/waltz2u/bd/blob/master/BigQuery_Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Before you begin


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

### Provide your credentials to the runtime

In [28]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

## Optional: Enable data table display

Colab includes the ``google.colab.data_table`` package that can be used to display large pandas dataframes as an interactive data table.
It can be enabled with:

In [0]:
%load_ext google.colab.data_table

If you would prefer to return to the classic Pandas dataframe display, you can disable this by running:
```python
%unload_ext google.colab.data_table
```

# Use BigQuery via magics

The `google.cloud.bigquery` library also includes a magic command which runs a query and either displays the result or saves it to a variable as a `DataFrame`.

In [31]:
# Display query output immediately

%%bigquery --project bigquery-207917
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

   total_rows
0   114420316

In [0]:
# Save output in a variable `df`

%%bigquery --project bigquery-207917 df
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

In [0]:
df

   total_rows
0   114420316

# Use BigQuery through google-cloud-bigquery

See [BigQuery documentation](https://cloud.google.com/bigquery/docs) and [library reference documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html).

The [GSOD sample table](https://bigquery.cloud.google.com/table/bigquery-public-data:samples.gsod) contains weather information collected by NOAA, such as precipitation amounts and wind speeds from late 1929 to early 2010.

### Declare the Cloud project ID which will be used throughout this notebook

In [0]:
project_id = '[bigquery-207917]'

### Sample approximately 2000 random rows

In [37]:
from google.cloud import bigquery

client = bigquery.Client(project='bigquery-207917')

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.samples.gsod`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

Full dataset has 114420316 rows

### Describe the sampled data

In [38]:
df.describe()

       station_number   wban_number  ...  total_precipitation  snow_depth
count     1997.000000   1997.000000  ...          1820.000000  117.000000
mean    499950.171758  89980.867301  ...             0.073368    9.839316
std     300598.987968  26859.626061  ...             0.335501    9.707462
min      10280.000000      6.000000  ...             0.000000    0.400000
25%     234160.000000  99999.000000  ...             0.000000    3.500000
50%     517650.000000  99999.000000  ...             0.000000    7.100000
75%     725065.000000  99999.000000  ...             0.000000   14.200000
max     999999.000000  99999.000000  ...             8.150000   56.700001

[8 rows x 22 columns]

### View the first 10 rows

In [39]:
df.head(10)

   station_number  wban_number  year  month  ...   snow   hail  thunder  tornado
0          368700        99999  1935      8  ...  False  False    False    False
1          401800        99999  1982      6  ...  False  False    False    False
2          579060        99999  1962      8  ...  False  False    False    False
3          479450        99999  1988      7  ...   True   True     True     True
4          561960        99999  1993      8  ...  False  False    False    False
5          969250        99999  1994      4  ...  False  False    False    False
6          517300        99999  1974      9  ...  False  False    False    False
7          141210        99999  2005      1  ...   True   True     True     True
8          637930        99999  1988     12  ...  False  False    False    False
9          358490        99999  2003      3  ...  False  False    False    False

[10 rows x 31 columns]

In [40]:
# 10 highest total_precipitation samples
df.sort_values('total_precipitation', ascending=False).head(10)[['station_number', 'year', 'month', 'day', 'total_precipitation']]

      station_number  year  month  day  total_precipitation
1877          478300  1989      8   21                 8.15
1850          442180  1961      8    8                 4.06
184           987550  1975     12   13                 3.54
941           599970  2001     12   13                 3.07
685           476120  2002     11    9                 2.72
414           942030  1991      2   23                 2.52
1066          483250  2005      8   31                 2.19
576           988360  1993      7    9                 2.17
1837          804340  1993     11    1                 2.09
1921          726116  2008     10   26                 2.06

# Use BigQuery through pandas-gbq

The `pandas-gbq` library is a community led project by the pandas community. It covers basic functionality, such as writing a DataFrame to BigQuery and running a query, but as a third-party library it may not handle all BigQuery features or use cases.

[Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

In [43]:
import pandas as pd

sample_count = 2000
df = pd.io.gbq.read_gbq('''
  SELECT name, SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''', project_id='bigquery-207917', dialect='standard')

df.head()

      name   count
0    James  272793
1     John  235139
2  Michael  225320
3   Robert  220399
4    David  219028