<a href="https://colab.research.google.com/github/waltz2u/bd/blob/master/Iowa_Liquor_Retail_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The dataset Iowa Liquor Retail Sales (https://console.cloud.google.com/marketplace/details/iowa-department-of-commerce/iowa-liquor-sales)

# Before you begin


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

### Provide your credentials to the runtime

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

## Optional: Enable data table display

Colab includes the ``google.colab.data_table`` package that can be used to display large pandas dataframes as an interactive data table.
It can be enabled with:

In [0]:
%load_ext google.colab.data_table

If you would prefer to return to the classic Pandas dataframe display, you can disable this by running:
```python
%unload_ext google.colab.data_table
```

# Use BigQuery via magics

The `google.cloud.bigquery` library also includes a magic command which runs a query and either displays the result or saves it to a variable as a `DataFrame`.

In [14]:
# Display query output immediately

%%bigquery --project bigquery-207917
SELECT * FROM `bigquery-public-data.iowa_liquor_sales.sales` LIMIT 100;

   invoice_and_item_number        date  ... volume_sold_liters volume_sold_gallons
0          INV-05069500006  2017-05-22  ...              27.00                7.13
1             S14187900008  2013-10-04  ...              22.50                5.94
2             S27423900062  2015-08-19  ...              48.00               12.68
3             S32937300026  2016-06-21  ...             132.00               34.87
4             S10452500062  2013-02-06  ...              45.00               11.89
..                     ...         ...  ...                ...                 ...
95            S21781600001  2014-10-15  ...               5.70                1.51
96         INV-24068600002  2019-12-20  ...              27.00                7.13
97         INV-24152600164  2019-12-24  ...               0.05                0.01
98         INV-24187800005  2019-12-27  ...               1.12                0.29
99         INV-20552800003  2019-07-11  ...              18.00                4.75

[100 rows x 24 columns]

In [0]:
# Save output in a variable `df`

%%bigquery --project bigquery-207917 df
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.iowa_liquor_sales.sales`

In [16]:
df

   total_rows
0    17926603

# Use BigQuery through google-cloud-bigquery

See [BigQuery documentation](https://cloud.google.com/bigquery/docs) and [library reference documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html).

### Declare the Cloud project ID which will be used throughout this notebook

In [0]:
project_id = 'bigquery-207917'

### Sample approximately 2000 random rows

In [17]:
from google.cloud import bigquery

client = bigquery.Client(project=project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.iowa_liquor_sales.sales`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.iowa_liquor_sales.sales`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 17926603 rows

### Describe the sampled data

In [18]:
df.describe()

              pack  bottle_volume_ml  ...  volume_sold_liters  volume_sold_gallons
count  2129.000000       2129.000000  ...         2129.000000          2129.000000
mean     12.298262        908.078910  ...            9.674382             2.554782
std       7.424988        487.297429  ...           34.889472             9.216977
min       1.000000         50.000000  ...            0.050000             0.010000
25%       6.000000        750.000000  ...            1.750000             0.460000
50%      12.000000        750.000000  ...            5.250000             1.390000
75%      12.000000       1000.000000  ...           10.500000             2.770000
max      48.000000       3000.000000  ...         1050.000000           277.380000

[8 rows x 8 columns]

### View the first 10 rows

In [19]:
df.head(10)

  invoice_and_item_number        date  ... volume_sold_liters volume_sold_gallons
0         INV-15356800007  2018-10-30  ...               13.5                3.56
1         INV-15152100002  2018-10-19  ...                2.0                0.52
2         INV-07697800001  2017-10-04  ...               48.0               12.68
3            S12670100015  2013-06-10  ...               73.5               19.42
4         INV-20060600034  2019-06-18  ...               21.0                5.54
5         INV-23231500007  2019-11-14  ...               42.0               11.09
6         INV-23646800060  2019-12-03  ...                2.0                0.52
7         INV-24860900009  2020-01-28  ...                2.4                0.63
8            S12343700001  2013-05-21  ...             1050.0              277.38
9            S31522300001  2016-03-30  ...                0.4                0.11

[10 rows x 24 columns]

In [20]:
# 10 highest total_precipitation samples
df.sort_values('city', ascending=False).head(10)[['store_name', 'city', 'vendor_name', 'item_number', 'item_description']]

                                  store_name  ...              item_description
1981  Casey's General Store #2551 / Woodward  ...            Five O'clock Vodka
849   Casey's General Store #2551 / Woodward  ...            Five O'clock Vodka
1164                Rodgers Spirits and More  ...  Baileys Original Irish Cream
1977                      Hy-Vee / Winterset  ...          Ryan's Cream Liqueur
1796         Fareway Stores #683 / Winterset  ...           Juarez Tequila Gold
47                 Kum & Go #246 / Winterset  ...                Smirnoff 80prf
905          Fareway Stores #683 / Winterset  ...                 UV Red Cherry
1480                Wine and Spirits Gallery  ...        X Rated Fusion Liqueur
1989       Sam's Club 6344 / Windsor Heights  ...                   Ciroc Apple
2050         Wal-Mart 1764 / Windsor Heights  ...                  Bacardi Gold

[10 rows x 5 columns]

# Use BigQuery through pandas-gbq

The `pandas-gbq` library is a community led project by the pandas community. It covers basic functionality, such as writing a DataFrame to BigQuery and running a query, but as a third-party library it may not handle all BigQuery features or use cases.

[Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

In [23]:
import pandas as pd

sample_count = 2000
df = pd.io.gbq.read_gbq('''
  SELECT store_name, SUM(sale_dollars) as sales
  FROM `bigquery-public-data.iowa_liquor_sales.sales`
  GROUP BY store_name
  ORDER BY sales DESC
  LIMIT 100
''', project_id='bigquery-207917', dialect='standard')

df.head()

                            store_name         sales
0         Hy-Vee #3 / BDI / Des Moines  8.070145e+07
1                       Central City 2  6.733256e+07
2  Hy-Vee Wine and Spirits / Iowa City  3.390244e+07
3       Sam's Club 8162 / Cedar Rapids  2.996492e+07
4    Sam's Club 6344 / Windsor Heights  2.857422e+07